.input--field {
    background-image: url('../images/bg.gif');
    background-position: center center;
    background-size: cover;
    height: 25vh;
}
.input--container {
    max-width: 400px;
    width: 100%;
}
#input--icon {
    cursor: pointer;
}